body {
	background: #1d2229;
	overflow: hidden;
	background-color: #000;
	margin: 0;
}

canvas {
	top: -1px;
	height: 100vh;
	width: 133vh;
	position: relative;
	left: 50%;
	transform:translateX(-50%);
 	border: 1px solid red;
}

.background {
	z-index: -1;
	position: absolute;
	height: 100vh;
	width: 100vw;
	left: 50%;
	transform: translateX(-50%);
	background: center / cover no-repeat url('./assets/space-background-loop-5.png');
	image-rendering: pixelated;
}

/* make three level background movement */

.background.first {
	top: 0;
	animation-name: backgroundMove;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.background.second {
	top: 0;
	z-index: -2;
	animation-name: backgroundMove;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: -5s;
}
@keyframes backgroundMove {
	0%{
		z-index: -1;
		transform: translateX(-50%) translateY(-99%);
	}
	100%{
		transform: translateX(-50%) translateY(100%);
	}
}